logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.terragrunt-cache/
dynamodb-local/
.terraform/
terraform.tfstate
terraform.tfstate.backup
.metals/
.scannerwork/

*.swp
